@using Microsoft.EntityFrameworkCore
@inject quanlybangiay.Data.ApplicationDbContext Db
@{
    var setting = await Db.Settings.AsNoTracking().FirstOrDefaultAsync();
    var shopName = setting?.ShopName ?? "Shoe Store";
}
<div class="colorlib-partner">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
                <h2>Đối tác</h2>
            </div>
        </div>
        <div class="row">
            <div class="col partner-col text-center">
                <img src="/images/brand-1.jpg" class="img-fluid" alt="">
            </div>
            <div class="col partner-col text-center">
                <img src="/images/brand-2.jpg" class="img-fluid" alt="">
            </div>
            <div class="col partner-col text-center">
                <img src="/images/brand-3.jpg" class="img-fluid" alt="">
            </div>
            <div class="col partner-col text-center">
                <img src="/images/brand-4.jpg" class="img-fluid" alt="">
            </div>
            <div class="col partner-col text-center">
                <img src="/images/brand-5.jpg" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</div>
<footer id="colorlib-footer" role="contentinfo">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col footer-col colorlib-widget">
                <h4>@shopName</h4>
                <p>@(setting?.FooterContent ?? "Chuyên cung cấp các sản phẩm giày dép chất lượng cao.")</p>
                <p>
                <ul class="colorlib-social-icons">
                    @if (!string.IsNullOrWhiteSpace(setting?.FacebookUrl))
                    {
                        <li><a href="@setting.FacebookUrl" target="_blank"><i class="icon-facebook"></i></a></li>
                    }
                    @if (!string.IsNullOrWhiteSpace(setting?.InstagramUrl))
                    {
                        <li><a href="@setting.InstagramUrl" target="_blank"><i class="icon-instagram"></i></a></li>
                    }
                    @if (!string.IsNullOrWhiteSpace(setting?.YoutubeUrl))
                    {
                        <li><a href="@setting.YoutubeUrl" target="_blank"><i class="icon-youtube"></i></a></li>
                    }
                    @if (!string.IsNullOrWhiteSpace(setting?.TiktokUrl))
                    {
                        <li><a href="@setting.TiktokUrl" target="_blank"><i class="icon-play"></i></a></li>
                    }
                </ul>
                </p>
            </div>
            <div class="col footer-col colorlib-widget">
                <h4>Hỗ trợ khách hàng</h4>
                <p>
                <ul class="colorlib-footer-links">
                    <li><a asp-controller="Contact" asp-action="Index">Liên hệ</a></li>
                    <li><a href="#">Đổi trả hàng</a></li>
                    <li><a href="#">Chính sách bảo hành</a></li>
                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                </ul>
                </p>
            </div>
            <div class="col footer-col colorlib-widget">
                <h4>Thông tin</h4>
                <p>
                <ul class="colorlib-footer-links">
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Chính sách giao hàng</a></li>
                    <li><a href="#">Chính sách bảo mật</a></li>
                    <li><a href="#">Theo dõi đơn hàng</a></li>
                </ul>
                </p>
            </div>
            <div class="col footer-col">
                <h4>Thông tin liên hệ</h4>
                <ul class="colorlib-footer-links">
                    @if (!string.IsNullOrWhiteSpace(setting?.Address))
                    {
                        <li>@setting.Address</li>
                    }
                    @if (!string.IsNullOrWhiteSpace(setting?.Phone))
                    {
                        <li><a href="tel:@setting.Phone">@setting.Phone</a></li>
                    }
                    @if (!string.IsNullOrWhiteSpace(setting?.Email))
                    {
                        <li><a href="mailto:@setting.Email">@setting.Email</a></li>
                    }
                    @if (!string.IsNullOrWhiteSpace(setting?.Hotline))
                    {
                        <li>Hotline: <a href="tel:@setting.Hotline">@setting.Hotline</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="copy">
        <div class="row">
            <div class="col-sm-12 text-center">
                <p>
                    <span class="block">@(setting?.CopyrightText ?? "Chuyên đề ASP.Net - SVTH: Nguyễn Minh Hiệp")</span>
                </p>
            </div>
        </div>
    </div>
</footer>
